/* ChatRoom.module.css */
@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.fadeInMessage {
    animation: fadeIn 0.5s ease-out forwards;
}

.textareaTransition {
    transition: all 0.3s ease;
}

/* Enhanced Hover Effect */
.messageHover:hover {
    transform: translateY(-5px); /* Move up more noticeably */
    background-color: rgba(185, 5, 240, 0.8); /* Stronger background color on hover */
    box-shadow: 5px 5px 1px rgba(7, 81, 242, 0.2); /* Stronger shadow to make it pop */
    transition: transform 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
}
